#tagline {
    color: orange;
}

.date {
    font-weight: bold;
    font-size: 3em;
    color: green;
}

a {
    text-decoration: none;
    color: rgb(218, 56, 56);
}

p,
a,
.date{
    margin: .5em auto;
}

nav {
    font-size: 2em;
}

.login{
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}

nav a{
    border: 5px solid black;
    padding-top: 1em;
    padding-left: 1em;
    margin: 0.5em;

}