.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .3em 7em;
    border-radius: .2em;
}

.btn-primary {
    color: #fff;
    background-color: #0e7e33;
    border-color: #136930;
}

.btn-info {
    color: #fff;
    background-color: rgb(45, 45, 153);
    border-color: rgb(51, 51, 119);
}

.btn-warning {
    color: #fff;
    background-color: red;
    border-color: #b90404;
}

.btn-danger {
    color: #fff;
    background-color: #da8507;
    border-color: #ad7b30
}

.header {
    font-family: 'Oswald', sans-serif;
}
